body {
    background-color: rgb(14, 14, 14);
    color: azure;
    text-align: center;

    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;

    width: 100vw;
    height: 100vh;

    font-size: 1.2vw;
}

.head {
    background-color: #161616cc;
    text-align: center;
    position:fixed;

    width: 101vw;
    right: 0%;
    top: 0%;
}

.CenterBody{
    color: rgb(255, 255, 255);

    display: grid;
    grid-auto-flow: column;

    position: fixed;

    width: 100vw;
    height: auto;

    right: 0%;
    left: 0%;
    top: 12vh;
}
.CenterBody2{
    color: rgb(255, 255, 255);

    display: grid;
    grid-auto-flow: column;

    position: fixed;

    width: 100vw;
    height: auto;

    right: 0%;
    left: 0%;
    top: 50vh;
}

.Object1 {
    z-index: 2500;
    transition: 450ms;

    width: 25vw;
    position: flex;
    text-align: center;
}
.Object1 img {
    width: 15vw;
}
.Object1 h2 {
    transition: 450ms;
}

.Object1:hover {
    padding-top: 1.5vh;
    cursor: grab;
    color: rgb(53, 129, 201);
}

#HeaderTitle{
    transition: 650ms;
    font-size: 1.6rem;
    text-align: center;
}

#HeaderTitle:hover {
    color: rgb(49, 93, 214);
    cursor: grab;
}

footer {
    background-color: #161616cc;
    color: #777777;
    margin-top: 85.5vh;

    position: fixed;

    width: 101vw;
    text-align: center;

    padding-bottom: .5%;
    right: 0%;
    bottom: 0%;
}
#RobloxButton {
    text-decoration: none;
    transition: 250ms;
    color: rgb(216, 71, 71);
}
#DiscordButton {
    text-decoration: none;
    transition: 250ms;
    color: rgb(56, 86, 219);
    margin-right: .7%;
    margin-left: .7%;
}
#EmailButton {
    text-decoration: none;
    transition: 250ms;
    color: rgb(158, 143, 143);
}


#RobloxButton:hover {
    cursor: grab;
    color: rgb(143, 39, 39);
}
#DiscordButton:hover {
    cursor: grab;
    color: rgb(45, 69, 179);
}
#EmailButton:hover {
    cursor: grab;
    color: rgb(121, 109, 109);
}